.circles {
  position: relative;
  height: 73.3vw;

  &__img {
    transition: 0.7s ease-in-out;
  }

  &__btn {
    position: absolute;
    z-index: 200;
    display: flex;
    align-items: center;
    width: auto;
    font-family: "Raleway", $font-alt;
    font-weight: 500;
    font-size: 1rem;
    line-height: rem-calc(18);
    white-space: nowrap;
    color: #fff;
    opacity: 0.8;
    gap: rem-calc(10);
  }

  &__subtitle {
    overflow: hidden;
    margin: 0;
    width: 0;
    font-family: "Raleway", $font-alt;
    font-size: vw(15);
    line-height: vw(22);
    text-align: right;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
  }

  &__title {
    margin: 0;
    font-family: "Raleway", $font-alt;
    font-weight: 500;
    font-size: rem-calc(16);
    line-height: rem-calc(18);

    @include sm-block {
      font-size: vw(16);
      line-height: vw(18);
    }
  }

  &__cross-wrap {
    position: absolute;
    z-index: 200;
    display: flex;
    align-items: center;
    padding-top: rem-calc(5);
    padding-bottom: rem-calc(5);
    white-space: nowrap;
    color: rgba(#fff, 0.8);
    transition: 0.5s ease-in-out;
    gap: 10px;
  }

  &__cross {
    position: relative;
    display: block;
    border-radius: 50%;
    width: rem-calc(35);
    height: rem-calc(35);
    background: rgba(#fff, 0.05);
    transition: 0.3s ease-in-out;
    backdrop-filter: blur(6px);

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: rem-calc(16);
      height: rem-calc(2);
      background-color: $color-accent;
      transform: translate(-50%, -50%);

      @include sm-block {
        width: vw(14);
        height: vw(2);
      }
    }

    &::before {
      width: rem-calc(2);
      height: rem-calc(16);

      @include sm-block {
        width: vw(2);
        height: vw(14);
      }
    }

    @include sm-block {
      width: vw(42);
      height: vw(42);
    }
  }

  &__circle {
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.7s ease 0s;

    &--otap {
      z-index: 19;

      .circles__img {
        position: absolute;
        left: 31vw;
        top: 21vw;
        z-index: 20;
        display: flex;
        width: 30vw;
        height: 30vw;
        background-image: url("./../img/slider-circle-2-active.png");
        background-size: cover;

        @include sm-block {
          left: 6.2vw;
          top: 12.7vw;
          width: 8.5vw;
          height: 8.5vw;
        }
      }

      .circles__cross-wrap {
        right: -37vw;
        top: vw(850);

        @include sm-block {
          right: -14.8vw;
          top: vw(276);
        }
      }
    }

    &--smdp {
      .circles__img {
        position: absolute;
        left: 24vw;
        top: 16vw;
        display: flex;
        width: 43.5vw;
        height: 43.5vw;
        background-image: url("./../img/slider-circle-1-active.png");
        background-size: cover;

        @include sm-block {
          left: 3vw;
          top: 9.4vw;
          width: 14.8vw;
          height: 15vw;
        }
      }

      .circles__cross-wrap {
        right: -57vw;
        top: vw(265);

        @include sm-block {
          right: -12.1vw;
          top: vw(371);
        }
      }
    }

    &--smdp-2 {
      .circles__img {
        position: absolute;
        left: vw(-150);
        top: vw(100);
        display: flex;
        width: 90vw;
        height: 80vw;
        background-image: url("../img/slider-circle-0-active.png");
        background-size: cover;

        @include sm-block {
          width: 34vw;
          height: 28vw;
        }
      }

      .circles__cross-wrap {
        left: unset;
        right: -68vw;
        top: vw(650);

        @include sm-block {
          right: -19.52vw;
          top: vw(126);
        }
      }
    }
  }

  @include sm-block {
    position: static;
    height: 34vw;
  }
}

.circles[data-id="2"] {
  .circles__circle--smdp {
    left: vw(-250);
    top: vw(-250);
    z-index: 123;

    .circles__cross {
      transform: rotate(45deg);
    }

    @include sm-block {
      left: vw(-60);
      top: vw(-60);
      z-index: 20;

      .circles__cross-wrap {
        border-radius: 30px;
        padding-right: vw(4);
        padding-left: vw(40);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(8px);
      }

      .circles__title {
        color: $color-accent;
      }

      .circles__subtitle {
        overflow: auto;
        width: auto;
        color: rgba(#fff, 0.5);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .circles__circle--otap {
    .circles__img {
      background-image: url("../img/slider-circle-1.png");
    }
  }

  .circles__circle--smdp-2 {
    .circles__img {
      background-image: url("../img/slider-circle-0.png");
    }
  }
}

.circles[data-id="1"] {
  .circles__circle--smdp {
    .circles__img {
      background-image: url("../img/slider-circle-2.png");
    }

    .circles__cross-wrap {
      z-index: 20;
    }
  }

  .circles__circle--otap {
    .circles__img {
      background-image: url("../img/slider-circle-1.png");
    }
  }

  .circles__circle--smdp-2 {
    left: vw(-250);
    top: vw(-250);
    z-index: 200;

    .circles__cross {
      transform: rotate(45deg);
    }

    @include sm-block {
      left: vw(-60);
      top: vw(-60);
      z-index: 20;

      .circles__cross-wrap {
        border-radius: 30px;
        padding-right: vw(4);
        padding-left: vw(40);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(8px);
      }

      .circles__title {
        color: $color-accent;
      }

      .circles__subtitle {
        overflow: auto;
        width: auto;
        color: rgba(#fff, 0.5);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.circles[data-id="3"] {
  .circles__circle--smdp {
    .circles__img {
      background-image: url("../img/slider-circle-2.png");
    }
  }

  .circles__circle--smdp-2 {
    .circles__img {
      background-image: url("../img/slider-circle-0.png");
    }
  }

  .circles__circle--otap {
    left: vw(-250);
    top: vw(-250);
    z-index: 200;

    .circles__cross {
      transform: rotate(45deg);
    }

    @include sm-block {
      left: vw(-60);
      top: vw(-60);
      z-index: 20;

      .circles__cross-wrap {
        border-radius: 30px;
        padding-right: vw(4);
        padding-left: vw(40);
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(8px);
      }

      .circles__title {
        color: $color-accent;
      }

      .circles__subtitle {
        overflow: auto;
        margin: 0;
        width: auto;
        color: rgba(#fff, 0.5);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
