.visually-hidden {
  position: absolute;
  clip-path: inset(100%);
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 rem-calc(40);
  font-family: $font-alt;
  font-weight: 400;
  font-size: rem-calc(30);
  line-height: 115%;
  letter-spacing: 0.03em;
  color: #f0f0f0;

  span {
    color: $color-accent;
  }

  @include sm-block {
    margin-bottom: vw(40);
    font-size: vw(54);
    line-height: vw(62);
  }
}

.btn-reset {
  @include btn-reset;
}

.list-reset {
  @include list-reset;
}

.btn {
  @include btn-reset;

  border: 1px solid transparent;
  border-radius: 50px;
  padding: 17px 0 15px;
  box-sizing: border-box;
  font-family: $font-alt;
  font-weight: 500;
  font-size: rem-calc(14);
  line-height: rem-calc(18);
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #f0f0f0;
  transition: 0.3s ease-in-out;

  &--link {
    border: 1px solid $color-accent;

    &:hover,
    &:focus {
      color: #252f37;
      background-color: $color-accent;
    }

    &.btn-maintainers {
      border-color: $color-accent-3;
    }
    &.btn-gsm {
      border-color: $color-accent-4;
    }
    &.btn-distributors {
      border-color: $color-accent-2;
    }

    @include sm-block {
      padding: 9px 0 7px;
    }
  }

  &--primary {
    font-size: rem-calc(12);
    line-height: rem-calc(17);
    color: #69d4ce;
    background: #2a303a;
  }
}
