.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 0 rem-calc(42);
  font-family: $font-alt;
  font-size: rem-calc(30);
  line-height: 115%;
  letter-spacing: 0.03em;
  color: #F0F0F0;
  font-weight: 400;

  span {
    color: $color-accent;
  }

  @include sm-block {
    font-size: vw(54);
    line-height: vw(62);
    margin-bottom: vw(40);
  }
}

.btn-reset {
  @include btn-reset;
}

.list-reset {
  @include list-reset;
}

.btn {
  @include btn-reset;

  box-sizing: border-box;
  border-radius: 50px;
  color: #f0f0f0;
  padding: 17px 0 15px 0;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid transparent;
  font-family: $font-alt;
  font-weight: 500;
  font-size: rem-calc(14);
  line-height: rem-calc(18);
  letter-spacing: 0.03em;
  transition: 0.3s ease-in-out;

  &--link {
    border: 1px solid $color-accent;

    &:hover,
    &:focus {
      color: #252f37;
      background-color: $color-accent;
    }

    @include sm-block {
      padding: 9px 0 7px 0;
    }
  }
}
