.date {
  position: absolute;
  right: 24px;
  top: calc(46px - 5px);
  font: var(--font-body-regular-xs);
  color: var(--color-label);
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.icon {
  margin-right: 12px;
}

.title {
  font: var(--font-subtitle-s);
}

.top {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 24px;

  &::after {
    content: "";
    position: absolute;
    left: -24px;
    bottom: 0;
    width: calc(100% + (24px * 2));
    height: 1px;
    background-color: rgba($color-line, 0.6);
  }
}

.footer {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 12;
  width: calc(100% + 24px * 2);
  max-width: 370px;
  padding: 12px;
  background-color: var(--color-input);

  button {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--color-primary);

    &[disabled] {
      background-color: rgba(#000, 0.1);

      svg {
        color: #b1b3c0;
      }
    }
  }
}

.textarea {
  font: inherit;
  background-color: transparent;
  border: none;
  resize: none;
  height: 32px;
  color: #000;
  line-height: 1.7;
  font-size: 1rem;
  width: 240px;
  white-space: nowrap;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--color-label);
  }
}

.attach {
  position: relative;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-right: 1rem;
  background-color: rgba(#000, 0.1);
  border-radius: 50%;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #808192;
  }

  &:hover {
    background-color: var(--color-primary);

    svg {
      color: #000;
    }
  }
}

.send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  svg {
    color: #000;
  }
}

.empty {
  overflow: scroll;
  margin: 100% auto 0;

  svg {
    display: block;
    margin: 0 auto 1rem;
    width: 72px;
    height: 72px;
  }
}

.chat {
  overflow: scroll;
}
