.passwordModal {
  min-width: 499px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  h3 {
    font: var(--font-subtitle-s);
  }

  .burger {
    @include burger(14px, 14px, 2px);
    width: 32px;
    height: 32px;
    position: relative;
    background-color: var(--color-background);
    border-radius: 50%;

    &::after, &::before {
      width: 14px;
      display: flex;
      left: 9.5px;
    }
  }
}

.form {
  label {
    margin-bottom: 1rem !important;

    &:last-of-type {
      margin-bottom: rem-calc(24) !important;
    }
  }

  button {
    width: fit-content;
    padding: 14px 37px;
    font-weight: 500;
    font-size: rem-calc(18);
    line-height: rem-calc(22);
    border-radius: 1rem;
  }
}
