extends ../templates/_layout
include ../mixins/_svg

block content
    include ../application/sections/_ecosystem
    include ../application/sections/_business
    include ../application/sections/_connect
    include ../application/sections/_slider
