extends ../templates/_layout
include ../mixins/_svg

block content
    include ../application/sections/_ecosystem-gsm
    include ../application/sections/_business-gsm
    include ../application/sections/_connect-gsm
    include ../application/sections/_slider-gsm
