extends ../templates/_layout
include ../mixins/_svg

block content
    include ../application/sections/_ecosystem-maintainers
    include ../application/sections/_business-maintainers
    include ../application/sections/_connect-maintainers
    include ../application/sections/_slider-maintainers
