-
    var links = [
        {text: "Платформа GMDP", link: "index.html"},
        {text: "GSM операторам", link: "gsm.html"},
        {text: "Производителям eSIM", link: "maintainers.html"},
        {text: "Дистрибьюторам", link: "distributors.html"},
        {text: "О проекте", link: "about.html"},
    ];

nav.header__navigation.navigation#navigation
    ul.navigation__list
        each link in links
            li.navigation__item
                a(href="./" + link.link).navigation__link #{link.text}
    a(href="#registration").navigation__button.btn.btn--link Регистрация
    .navigation__lang
        button(type="button" aria-label="Изменить язык на русский (Switch to Russian)").navigation__lang-btn.navigation__lang-btn--active#ru Ru
        button(type="button" aria-label="Изменить язык на английский (Switch to English)").navigation__lang-btn#eng Eng
    .navigation__copy
        a(href="#") Политика обработки персональных данных
        span Copyright ©
            output#currentYear
