.wrapper
    .wrapper__image
        picture
            source(srcset="./img/round-1-big@2x.png 2x, ./img/round-1-big.png" media="(min-width: 768px)" type="image/webp")
            source(srcset="./img/round-1@2x.webp 2x, ./img/round-1.webp" type="image/webp")
            img(srcset="./img/round-1@2x.png 2x" src="./img/round-1.png" aria-hidden="true" alt="")
