footer.footer
    .footer__container.container
        .footer__logo
            img(src="./img/logo.svg" alt="Логотип Глонасс")
        ul.footer__nav.nav-footer
            li.nav-footer__item
                a(href="#").nav-footer__link Платформа GMDP
            li.nav-footer__item
                a(href="#").nav-footer__link GSM операторам
            li.nav-footer__item
                a(href="#").nav-footer__link Производителям eSIM
            li.nav-footer__item
                a(href="#").nav-footer__link Дистрибьюторам
        .footer__about
            a(href="#").nav-footer__link О проекте
        .footer__contacts
            a(href="mailto:info@glonassmobile.com").footer__link info@glonassmobile.com
            a(href="tel:+74951950111").footer__link +7 (495) 195-01-11
        .footer__politics
            a(href="#").footer__link Политика обработки персональных данных
        span.footer__copy Copyright ©
            output
