.device {
  margin-bottom: 40px;

  @include xl-block {
    margin-bottom: 148px;
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    margin-bottom: rem-calc(1);
  }
}

.background {
  position: relative;
  left: -$gutter;
  width: calc(100% + #{$gutter * 2});

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-radius: $middle-offset;
    width: calc(100% - 20px);
    height: 100%;

    @include xl-block {
      left: $gutter;
      background: linear-gradient(77.74deg, rgba(0, 0, 0, 0.73) 10.65%, rgba(0, 0, 0, 0) 82.1%);
    }
  }

  div {
    @include xl-block {
      border-radius: $middle-offset;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include xl-block {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    padding: 0 $gutter;
    width: 100%;
    height: 600px;
    max-width: calc(1280px + #{$gutter * 2});
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    overflow: hidden;
    height: 483px;
    max-width: calc(1200px + #{$gutter * 2});
  }
}

.container {
  position: relative;

  @include xl-block {
    height: 600px;
    max-height: 600px;
  }
}

.title {
  margin: 0 0 $middle-offset;
  font: $font-heading-4;
  line-height: rem-calc(40);
  text-align: center;

  @include xl-block {
    display: none;
  }
}

.titleDesktop {
  display: none;
  margin: 0 0 21px;
  padding-top: 116px;
  font: $font-jumbo-1;
  line-height: rem-calc(72);
  text-align: left;
  color: $color-off-white;

  @include xl-block {
    display: block;
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    margin-bottom: rem-calc(18);
    padding-top: rem-calc(84);
    font-size: rem-calc(64);
    line-height: rem-calc(64);
    letter-spacing: 0.02em;
  }
}

.descr {
  margin-top: 28px;
  margin-bottom: 20px;
  text-align: center;
  font-size: rem-calc(16);
  line-height: rem-calc(24);

  @include xl-block {
    display: none;
  }
}

.descrDesktop {
  display: none;
  margin: 0 0 32px;
  max-width: 626px;
  font: $font-body-regular-l;
  color: $color-off-white;

  @include xl-block {
    display: block;
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    font-size: rem-calc(16);
    line-height: rem-calc(22);
    margin-bottom: rem-calc(20);
  }
}

.content {
  @include xl-block {
    padding-left: 109px;
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    padding-left: rem-calc(88);
  }
}

.controls {
  button:not(:last-child) {
    margin-bottom: $gutter;

    @include xl-block {
      margin-right: $rare-offset;
      margin-bottom: 0;
      width: 202px;
    }

    @media (min-width: 1200px) and (max-width: 1536px) {
      width: rem-calc(167);
      height: 50px;
      font-size: 1rem;
      line-height: rem-calc(24);
    }
  }

  button:last-of-type {
    @include xl-block {
      border-color: $color-off-white;
      width: 302px;
      color: $color-off-white;
    }

    @media (min-width: 1200px) and (max-width: 1536px) {
      width: rem-calc(272);
      height: 50px;
      font-size: 1rem;
      line-height: rem-calc(24);
    }
  }

  @include xl-block {
    display: flex;
    justify-content: flex-start;
  }
}

.features {
  display: none;

  li {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: rem-calc(40);
    }

    svg {
      margin-right: $rare-offset;
      border-radius: $rare-offset;
      padding: 10px;
      width: 100%;
      height: 100%;
      max-width: 60px;
      background-color: $color-line;
      object-fit: contain;
    }
  }

  span {
    padding-top: rem-calc(7);
    width: rem-calc(252);
    font: $font-body-regular-m;
    color: $color-off-black;
  }

  @include xl-block {
    position: absolute;
    left: calc(#{$gutter} + 109px);
    right: calc(108px + #{$gutter});
    bottom: -11%;
    display: flex;
    justify-content: space-between;
    border-radius: $rare-offset;
    padding: rem-calc(36);
    box-shadow: 0 -3px 22px rgba(0, 0, 0, 0.15);
    background: $color-background;
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    left: calc(#{$gutter} + 87px);
    right: calc(87px + #{$gutter});
    bottom: 11.8%;
    padding: rem-calc(24);

    li {
      display: flex;
      align-items: center;
      max-width: rem-calc(254);

      &:not(:last-child) {
        margin-right: rem-calc(20);
      }

      svg {
        margin-right: rem-calc(12);
        width: rem-calc(56);
        height: rem-calc(56);
      }

      span {
        width: rem-calc(186);
        font-size: rem-calc(14);
        line-height: rem-calc(18);
      }
    }
  }
}
