.topblock {
  margin-bottom: rem-calc(60);
  padding-top: rem-calc(52);
}

.title {
  margin-bottom: rem-calc(16);
}

.grid {
  display: grid;
  column-gap: rem-calc(24);
  grid-template-columns: repeat(auto-fit, minmax(320px, 587px));

  > div:last-child {
    grid-column: 2 / 2;
    min-width: 300px;
  }
}
