.deviceModalContent {
  min-width: rem-calc(500);

  h3 {
    margin: 0;
    font: var(--font-subtitle-s);
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem-calc(20);
}

.burger {
  @include burger(32px, 32px, 2px);

  border-radius: 50%;
  background-color: var(--color-background);

  &::after,
  &::before {
    left: 25%;
    width: 50%;
  }
}
