header#header.header
    .container.header__container
        a(href="/").header__logo
            img(src="./img/logo.svg" alt="Логотип Глонасс")
        button.header__burger#burger(aria-label="Управлять меню" type="button")
        include ./navigation/_navigation
