.faq {
  padding-top: 72px;
  padding-bottom: 36px;

  @include xl-block {
    padding-top: 152px;
    padding-bottom: 88px;
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    padding-top: rem-calc(120);
    padding-bottom: 30px;
  }
}

.title {
  margin: 0 0 rem-calc(50);
  font: $font-heading-3;
  text-align: center;
  color: $color-off-black;

  @media (min-width: 1200px) and (max-width: 1536px) {
    font-size: rem-calc(32);
    line-height: rem-calc(36);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 60px;

  @include lg-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.column {
  display: flex;
  flex-direction: column;

  button {
    margin-top: auto;
  }

  @include lg-block {
    width: 50%;
  }

  @include xl-block {
    &:not(:last-child) {
      margin: 0;
    }

    button {
      width: 302px;

      @media (min-width: 1200px) and (max-width: 1536px) {
        width: 272px;
        height: 50px;
      }
    }

    &:last-child {
      button {
        width: 202px;

        @media (min-width: 1200px) and (max-width: 1536px) {
          width: 182px;
          height: 50px;
        }
      }
    }
  }

  &:first-child {
    .image {
      padding-top: rem-calc(50);
    }
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    button {
      margin-top: 0;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $strong-offset;
  border-radius: $rare-offset;
  height: 177px;
  background-color: $color-input;

  svg {
    height: 81%;
  }

  @include md-block {
    margin-bottom: $big-offset;
    height: 378px;
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    height: 304px;
  }
}

.subtitle {
  margin: 0 0 $small-offset;
  font: $font-heading-6;
  color: $color-ash;

  @include lg-block {
    font: $font-heading-5;
  }
}

.descr {
  margin: 0 0 rem-calc(27);
  font: $font-body-regular-m;
  line-height: rem-calc(24);
  color: $color-off-black;
  opacity: 0.8;

  @media (min-width: 1200px) and (max-width: 1536px) {
    margin: 0 0 24px 0;
    font-size: rem-calc(14);
    line-height: rem-calc(18);
  }
}
