.country {
  overflow: hidden;
  padding-bottom: 64px;

  @include xl-block {
    padding-bottom: rem-calc(160);
  }
}

.countryBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $middle-offset;
  border-radius: $rare-offset;
  padding: 9px 27px 8px 20px;
  width: 100%;
  min-height: 60px;
  text-align: left;
  background-color: $color-input;

  .btnTitle {
    display: block;
    margin-bottom: 1px;
    font: $font-body-regular-xs;
    color: $color-label;
  }

  .withoutTitle {
    display: block;
    font: $font-body-regular-m;
    color: $color-label;
  }

  .countryName {
    margin: 0;
    font: $font-body-medium-l;
    color: $color-ash;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  svg {
    color: $color-placeholder;
  }

  @include xl-block {
    display: none;
  }
}

.tariffMain {
  display: flex;
  flex-direction: column;
  margin-bottom: rem-calc(18);
  width: 100%;

  @include xl-block {
    padding-right: 109px;
    width: 100%;
  }
}

.tariff {
  display: flex;
  justify-content: space-between;

  &:not(:last-of-type) {
    margin-bottom: $middle-offset;
  }

  &:first-child {
    grid-area: col1;
  }

  &:nth-child(2) {
    grid-area: col2;
  }

  &:nth-child(3) {
    grid-area: col3;

    @media (min-width: 1200px) and (max-width: 1536px) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    grid-area: col4;
  }

  @include xl-block {
    width: 350px;
  }
}

.col {
  min-width: 100px;

  h4 {
    margin: 0 0 6px;
    font: $font-body-regular-l;
    color: $color-ash;
    opacity: 0.5;
    letter-spacing: 1.6px;
  }

  p {
    margin: 0;
    font-weight: 500;
    font-size: rem-calc(32);
    line-height: rem-calc(40);
    color: $color-ash;

    @media (min-width: 1200px) and (max-width: 1536px) {
      font-size: rem-calc(28);
      line-height: rem-calc(32);
    }
  }
}

.disclaimer {
  display: flex;
  flex-direction: column;

  button {
    @include xl-block {
      margin-right: $middle-offset;
      width: 202px;
      color: $color-off-white;
      background: $color-ash;
    }
  }

  @include xl-block {
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    margin-top: rem-calc(30);

    button {
      width: rem-calc(150);
      height: rem-calc(48);
    }
  }
}

.disclaimerText {
  margin: $gutter 0 0;
  font: $font-body-regular-xs;
  color: $color-ash;

  @include xl-block {
    margin-top: -5px;
    width: 100%;
    max-width: 352px;
  }

  @media (min-width: 1200px) and (max-width: 1536px) {
    max-width: rem-calc(333);
  }
}

.preheader {
  position: relative;
  display: flex;

  h2 {
    margin: 0 0 $rare-offset;
    width: 100%;
    font: $font-subtitle-s;
    text-align: center;
  }
}

.main {
  overflow: scroll;
  padding-bottom: 100px;
  height: 100vh;

  svg {
    margin: auto;
    width: 40px;
    height: 40px;
  }

  h5 {
    margin: $middle-offset 0 $small-offset;
    font: $font-body-regular-l;
    color: $color-label;
  }

  @include xl-block {
    height: 420px;
  }
}

.countryList {
  li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding-left: $rare-offset;
    background-color: $color-off-white;

    &::after {
      content: "";
      position: absolute;
      right: $rare-offset;
      border: 1px solid $color-placeholder;
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }

    button {
      display: block !important;
      max-width: 70%;
      width: 100%;
      height: 48px;
      font: $font-body-medium-l;
      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include xl-block {
        max-width: 260px;
      }

      @media (min-width: 1024px) and (max-width: 1536px) {
        height: rem-calc(42);
      }
    }

    &.active {
      &::after {
        border-width: 6px;
        border-color: $color-ash;
      }
    }

    @media (min-width: 1024px) and (max-width: 1536px) {
      margin-bottom: 0 !important;
    }
  }
}

/* Desktop only */

.tariffDesktopTitle {
  display: none;
  margin: 0 0 rem-calc(31);
  padding-top: 72px;
  max-width: 500px;
  font: $font-heading-2;
  color: $color-ash;

  svg {
    width: 44px;
    height: 44px;
  }

  @include xl-block {
    display: block;
  }

  @media (min-width: 1024px) and (max-width: 1536px) {
    padding-top: rem-calc(88);
    margin-bottom: rem-calc(20);
    font-size: rem-calc(32) !important;
    line-height: rem-calc(36) !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.container {
  > svg {
    position: absolute;
    z-index: -1;
    display: none;
    width: calc(100% - #{$gutter * 2});

    @include xl-block {
      display: block;
    }
  }

  @include xl-block {
    position: relative;
    display: flex;
  }
}

.desktopList {
  display: none;
  overflow: hidden;
  margin-right: 14.3%;
  padding-left: 109px;
  min-width: calc(302px + 109px);
  max-width: calc(302px + 109px);
  height: rem-calc(475);

  @media (min-width: 1200px) and (max-width: 1536px) {
    margin-right: 6%;
  }

  :global {
    .input[type="search"] {
      margin-top: 49px;
      margin-bottom: rem-calc(30);
      border: 1px dashed $color-label;
      padding-top: rem-calc(14);
      padding-bottom: rem-calc(14);
      height: rem-calc(54);
      font: $font-body-regular-l;
      background-position: 24px 10px;
      background-color: $color-input;

      &::placeholder {
        color: $color-label;
      }
    }
  }

  .main {
    h5 {
      margin: 0 0 rem-calc(14);
      font: $font-heading-6;
      color: $color-ash;
    }

    li {
      margin-bottom: rem-calc(4);
      padding-left: 0;
      background: transparent;

      &::after {
        display: none;
      }

      button {
        line-height: 1;
        display: flex;
        align-items: center;
        min-height: 32px;
        font: $font-subtitle-s;
        line-height: rem-calc(32);
        color: $color-label;
      }

      &.active {
        width: fit-content;
        max-width: 260px;

        &::after {
          position: absolute;
          right: -30px;
          top: 50%;
          display: block;
          border: 0;
          border-radius: 0;
          background-image: url("data:image/svg+xml,%0A%3Csvg width='13' height='16' viewBox='0 0 13 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292893 7.29289ZM1 9H13V7H1V9Z' fill='black'/%3E%3C/svg%3E%0A");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          transform: translateY(-50%);
        }

        button {
          display: flex;
          align-items: center;
          width: auto;
          min-height: 32px;
          color: $color-ash;
        }
      }
    }
  }

  @include xl-block {
    display: block;
  }

  @media (min-width: 1024px) and (max-width: 1536px) {
    padding-left: rem-calc(85);
    height: rem-calc(380);
  }
}

.tariffGrid {
  display: grid;
  grid-template-columns: 260px 150px;
  gap: 0 0;
  grid-template-areas:
    "col1 col2"
    "col3 col4";
}

.search {
  min-height: 44px;
  font: $font-body-regular-m;
  color: $color-label;
}

.searchField {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: calc(100% + 40px);
    height: 1px;
    background: $color-line;

    @include xl-block {
      display: none;
    }
  }

  input {
    margin-bottom: 10px;
  }

  @media (min-width: 1024px) and (max-width: 1536px) {
    margin-top: rem-calc(35);
    margin-bottom: rem-calc(21);

    input[type="search"] {
      width: rem-calc(240) !important;
      height: rem-calc(37) !important;
      padding: 8px 8px 8px 64px !important;
      margin-bottom: 0 !important;
    }
  }
}

.main {
  overflow: scroll;
  height: 100vh;

  svg {
    margin: auto;
    width: 40px;
    height: 40px;
  }

  h5 {
    margin: $middle-offset 0 $small-offset;
    font: $font-body-regular-l;
    color: $color-label;

    @media (min-width: 1024px) and (max-width: 1536px) {
      margin-bottom: 0 !important;
      font-size: rem-calc(20) !important;
      line-height: rem-calc(28) !important;
    }
  }
}
