-
    var btns = ['GMDP', 'SM-DP+', 'SM-DP', 'OTAP'];
    var slides = [
        {
            id: 0,
            title: "GMDP (GLONASS Mobile Distribution Platform)",
            text: "Программно-аппаратный комплекс, созданный в соответствии со спецификациями GSMA и поддерживающий работу с операторскими профилями посредством SM-DP+/SM-DP/OTA"
        },
        {
            id: 1,
            title: "SM-DP +",
            text: "Отвечает за безопасную доставку операторского профиля на абонентские (Consumer) устройства, поддерживающие технологию eSIM. Управляется непосредственно Абонентом через мобильное приложение Android/iOS"
        },
        {
            id: 2,
            title: "SM-DP",
            text: "Обеспечивает доставку операторского профиля на М2М / IoT устройства поддерживающие технологию eSIM, посредством SM-SR в ручном или автоматическом режиме. Управляется администратором системы через партнерский кабинет (ПК)"
        },
        {
            id: 3,
            title: "OTAP",
            text: "Обеспечивает хранение и доставку в защищенном виде обновлений SIM карты, а также операторских профилей по приоритетным протоколам. SIM карта оснащается интеллектуальным апплетом и может быть инсталлирована в любое устройство (Consumer/M2M/IoT)"
        }
    ];

include ../../application/components/wrapper/_index-wrapper
section.gmdp
    .gmdp__container.container
        h2.gmdp__title.title(data-aos="fade-down" data-aos-duration="500")
            | Уникальная RSP
            span  платформа GMDP
        .gmdp__slider.slider-gmdp
            .slider-gmdp__wrapper.swiper
                .slider-gmdp__controls(data-aos="fade-up")
                    each btn in btns
                        button(type="button").slider-gmdp__btn #{btn}
                .slider-gmdp__slides.swiper-wrapper
                    each slide in slides
                        .slider-gmdp__slide.swiper-slide(id=slide.id)
                            h3.slider-gmdp__title(data-aos="fade-up" data-aos-duration="300") #{slide.title}
                            p.slider-gmdp__text(data-aos="fade-up")
                                | #{slide.text}
                                if slide.id === 0
                                    a(href="#") О проекте
                                        +svg('arrow', 17, 17)
                .slider-gmdp__circles-wrapper
                    .slider-gmdp__circles.circles(data-id="-1")
                        .circles__circle.circles__circle--smdp-2
                            button.circles__cross-wrap
                                p.circles__subtitle Simple Multimedia service <br> Description Protocol +
                                h5.circles__title SM-DP+
                                span.circles__cross
                            span.circles__img

                        .circles__circle.circles__circle--smdp
                            button.circles__cross-wrap
                                p.circles__subtitle Simple Multimedia service <br> Description Protocol
                                h5.circles__title SM-DP
                                span.circles__cross
                            span.circles__img

                        .circles__circle.circles__circle--otap
                            button.circles__cross-wrap
                                p.circles__subtitle Over-the-Air Provisioning
                                h5.circles__title OTAP
                                span.circles__cross
                            span.circles__img
                .slider-gmdp__arrows
                    button(type="button").slider-gmdp__arrow.slider-gmdp__arrow-prev
                        img(src='./img/svg/arrow-slider.svg')
                    .slider-gmdp__bullets
                    button(type="button").slider-gmdp__arrow.slider-gmdp__arrow-next
                        img(src='./img/svg/arrow-slider.svg')


