-
    var partners = [
        {id: 1, title: "Операторам", text: "GSM и MVNO"},
        {id: 2, title: "Производителям", text: "eSIM девайсов"},
        {id: 3, title: "Дистрибьюторам", text: "eSIM, M2M и IoT"},
    ]

section.partners
    .partners__container.container
        h2.partners__title.title Ключевым
            span партнерам GMDP
    .partners__wrapper.container
        .partners__cards
            each partner in partners
                a(href="#").partners__card.partners-card
                    .partners-card__image
                        picture
                            source(srcset="./img/partners-" + partner.id + "@2x.webp 2x, ./img/partners-" + partner.id + ".webp 1x" type="image/webp")
                            img(srcset="./img/partners-" + partner.id + "@2x.jpg 2x" src="./img/partners-" + partner.id + ".jpg" alt="Ссылка, операторам GSM и MVNO")
                    .partners-card__text
                        h5 #{partner.title}
                        p #{partner.text}
