.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: $gutter;
  padding-left: $gutter;
  text-align: center;
}

.burger {
  @include burger(24px, 24px, 2px);

  position: absolute;
  right: $gutter;
  top: 4px;

  @include xl-block {
    right: 34px;
    top: 34px;
  }
}

.title {
  margin-bottom: 20px;
  font: $font-subtitle-m;
  line-height: rem-calc(28);
  text-align: left;
  color: $color-ash;
}
