.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-right: vw(20);
  padding-left: vw(20);
  text-align: center;
}

.burger {
  @include burger(24px, 24px, 2px);

  position: absolute;
  right: vw(20);
  top: vw(4);

  @include xl-block {
    right: vw(34);
    top: vw(34);
  }
}

.title {
  margin-bottom: vw(20);
  font: $font-subtitle-m;
  font-size: rem-calc(24);
  line-height: rem-calc(28);
  text-align: left;
  color: $color-ash;
}
