.wrapper {
  position: absolute;
  top: 135px;
  right: 0;
  width: 100%;
  height: auto;

  &__image {
    position: absolute;
    top: -138px;
    right: 0;

    img {
      width: 100%;
      height: vm(883);

      @include sm-block {
        width: 100%;
        height: vw(1386);
      }
    }

    @include sm-block {
      top: -195px;
    }
  }
}
