.back {
  position: absolute;
  left: rem-calc(24);
  top: rem-calc(32);
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--color-background);
  transform: rotate(180deg);
}

.info {
  margin-bottom: rem-calc(40);
  padding-top: rem-calc(56);
}

.title {
  font: var(--font-heading-6);
}

.subtitle {
  margin-bottom: $small-offset;
  font: var(--font-body-regular-m);
  color: var(--color-label);
}

.tariffConditions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: rem-calc(20);
  gap: 8px;
}

.condition {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-label);
  border-radius: rem-calc(10);
  padding: rem-calc(9) rem-calc(14) rem-calc(9) rem-calc(10);
  color: var(--color-label);

  div {
    padding-top: rem-calc(38);

    h4 {
      font: var(--font-link-l);
      color: var(--color-off-black);
    }

    small {
      font: var(--font-body-regular-s);
    }
  }
}

.disclaimer {
  font: var(--font-body-regular-s);

  &.error {
    color: var(--color-error);
  }
}

.buy {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin-bottom: rem-calc(20);
    font: var(--font-body-regular-xs);
  }

  button {
    margin-bottom: rem-calc(12);
    border-radius: rem-calc(16);
    padding: rem-calc(14) 0;
  }
}

.price {
  margin-bottom: rem-calc(6);
  font: var(--font-heading-5);
}

.other {
  font-weight: 500;
  font-size: rem-calc(16);
  line-height: rem-calc(22);
  color: rgba(0, 0, 0, 0.6);
}
